<head>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      width: 100%;
      max-width: 900px;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    .container-form {
      background: #ffffff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 600px;
      margin: 0 auto;
    }

    label {
      font-weight: bold;
      color: #444;
      margin-top: 10px;
      width: 100%;
    }

    input, textarea, datalist {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 15px;
      font-size: 16px;
    }

    textarea {
      resize: none;
      height: 80px;
    }

    .button {
      background: linear-gradient(to bottom, #5340ff, #222757);
      color: white;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      transition: background 0.3s ease;
    }

    .button:hover {
      background: linear-gradient(to bottom, #6451ff, #333383);
    }

    .alert {
      background-color: #f8d7da;
      color: #721c24;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 1rem;
    }

    .success-message {
      background-color: #d4edda;
      color: #155724;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 1rem;
    }
  </style>
</head>

<div class='container'>
    {{#unless hideMenu}}
    {{> menu}}
  {{/unless}}
  <h1>Novo Livro</h1>

  {{#if message}}
    <div class='success-message'>{{message}}</div>
  {{/if}}

  {{#if errorMessage}}
    <div class='alert'>{{errorMessage}}</div>
  {{/if}}

  <form action='/livros' method='post'>
    <div class='container-form'>
      <label for='nome_livro'>Nome:</label>
      <input type='text' id='nome_livro' name='nome_livro' required />

      <label for='quantidade_paginas'>Quantidade de Páginas:</label>
      <input type='number' id='quantidade_paginas' name='quantidade_paginas' />

      <label for='descricao'>Descrição:</label>
      <textarea id='descricao' name='descricao'></textarea>

      <label for='ano_publicacao'>Ano de Publicação:</label>
      <input type='number' id='ano_publicacao' name='ano_publicacao' />

      <label for='categoria'>Categoria:</label>
      <input list='categorias' id='categoria' name='categoria' required />
      <datalist id='categorias'>
        {{#each categorias}}
          <option value="{{this.nome_categoria}}"></option>
        {{/each}}
      </datalist>

      <label for='autor'>Autor:</label>
      <input type='text' id='autor' name='autor' required />

      <label for='quantidade_estoque'>Quantidade no Estoque:</label>
      <input type='number' id='quantidade_estoque' name='quantidade_estoque' required />

      <button class='button' type='submit'>Salvar</button>
    </div>
  </form>
</div>
