{{#> main}}
  {{#*inline "content"}}
    <h1>App 1</h1>
    <h2>Estrutura Exemplo</h2>
    <p>Bem-vindo ao seu aplicativo! Esta é uma estrutura inicial simples para sua Home 2.</p>
    
  {{/inline}}
{{/main}}